<%= user.id%>
<%= ". "%>
Email:
<%= link_to_unless_current user.email,user%>
<% if user.name?%>
  <div class="ms-3">
    Name:
    <%= link_to_unless_current user.name.camelcase,user%>
    <br>
  </div>
<% end%>
<div class="ms-3">
  <%= 'sign_in_count'.humanize %>:
  <%= user.sign_in_count%>
  <br>
</div>
<div class="ms-3">
  <%= 'current_sign_in_at'.humanize %>:
  <%= user.current_sign_in_at%>
  <br>
</div>
<div class="ms-3">
  <%= 'last_sign_in_at'.humanize %>:
  <%= user.last_sign_in_at%>
  <br>
</div>
<div class="ms-3">
  <%= 'current_sign_in_ip'.humanize %>:
  <%= user.current_sign_in_ip%>
  <br>
</div>
<div class="ms-3">
  <%= 'last_sign_in_ip'.humanize %>:
  <%= user.last_sign_in_ip%>
  <br>
</div>
